In [1]:
#importing the libraries

import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
df = pd.read_csv(r'C:\Users\SWAPNIL BISWAS\DATASETS\Churn_Modelling.csv')
print(df)

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.info

<bound method DataFrame.info of       RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]>

In [5]:
#to check the missing values in dataset
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
X = df.iloc[: , 3:-1].values
y = df.iloc[:, -1].values

In [7]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [8]:
print(y)

[1 0 1 ... 1 1 0]

In [9]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [19]:
#performing LabelEncoder on 'gender' column

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[: , 2] = le.fit_transform(X[:,2])

In [21]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

In [25]:
#performing OneHotEncoder on the 'geography' column

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [27]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

In [29]:
#Splitting the dataset into training set and test set

from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.2 , random_state = 0)

In [31]:
#feature scaling

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [33]:
# initilizing the ANN
ann = tf.keras.models.Sequential()

In [35]:
#Adding the first hidden layer
ann.add(tf.keras.layers.Dense(units = 6 , activation = 'relu'))

In [37]:
#Adding the second hidden layer
ann.add(tf.keras.layers.Dense(units = 6 , activation = 'relu'))

In [39]:
#Adding the Output Layer
ann.add(tf.keras.layers.Dense(units = 1 , activation = 'sigmoid'))

In [46]:
#ompiling the ANN
#since it is binary classfication ANN the loss function being used is binary_crossentropy
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [50]:
#Training the ANN on the test set
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 0s 521us/step - loss: 0.3290 - accuracy: 0.8690
Epoch 2/100
250/250 [==============================] - 0s 493us/step - loss: 0.3295 - accuracy: 0.8660
Epoch 3/100
250/250 [==============================] - 0s 489us/step - loss: 0.3294 - accuracy: 0.8671
Epoch 4/100
250/250 [==============================] - 0s 541us/step - loss: 0.3290 - accuracy: 0.8668
Epoch 5/100
250/250 [==============================] - 0s 493us/step - loss: 0.3297 - accuracy: 0.8689
Epoch 6/100
250/250 [==============================] - 0s 489us/step - loss: 0.3293 - accuracy: 0.8677
Epoch 7/100
250/250 [==============================] - 0s 501us/step - loss: 0.3288 - accuracy: 0.8675
Epoch 8/100
250/250 [==============================] - 0s 499us/step - loss: 0.3293 - accuracy: 0.8677
Epoch 9/100
250/250 [==============================] - 0s 493us/step - loss: 0.3290 - accuracy: 0.8677
Epoch 10/100
250/250 [==============================] - 0s 493us/step - loss: 0.3293 - accuracy: 0.8679
Epoch 11/100
250/250 [==============================] - 0s 509us/step - loss: 0.3293 - accuracy: 0.8687
Epoch 12/100
250/250 [==============================] - 0s 505us/step - loss: 0.3291 - accuracy: 0.8679
Epoch 13/100
250/250 [==============================] - 0s 485us/step - loss: 0.3289 - accuracy: 0.8683
Epoch 14/100
250/250 [==============================] - 0s 481us/step - loss: 0.3292 - accuracy: 0.8684
Epoch 15/100
250/250 [==============================] - 0s 493us/step - loss: 0.3293 - accuracy: 0.8675
Epoch 16/100
250/250 [==============================] - 0s 489us/step - loss: 0.3290 - accuracy: 0.8685
Epoch 17/100
250/250 [==============================] - 0s 481us/step - loss: 0.3288 - accuracy: 0.8683
Epoch 18/100
250/250 [==============================] - 0s 485us/step - loss: 0.3284 - accuracy: 0.8692
Epoch 19/100
250/250 [==============================] - 0s 488us/step - loss: 0.3288 - accuracy: 0.8666
Epoch 20/100
250/250 [==============================] - 0s 483us/step - loss: 0.3295 - accuracy: 0.8666
Epoch 21/100
250/250 [==============================] - 0s 483us/step - loss: 0.3290 - accuracy: 0.8679
Epoch 22/100
250/250 [==============================] - 0s 488us/step - loss: 0.3289 - accuracy: 0.8687
Epoch 23/100
250/250 [==============================] - 0s 497us/step - loss: 0.3290 - accuracy: 0.8691
Epoch 24/100
250/250 [==============================] - 0s 489us/step - loss: 0.3286 - accuracy: 0.8708
Epoch 25/100
250/250 [==============================] - 0s 493us/step - loss: 0.3289 - accuracy: 0.8669
Epoch 26/100
250/250 [==============================] - 0s 497us/step - loss: 0.3289 - accuracy: 0.8666
Epoch 27/100
250/250 [==============================] - 0s 482us/step - loss: 0.3287 - accuracy: 0.8685
Epoch 28/100
250/250 [==============================] - 0s 489us/step - loss: 0.3287 - accuracy: 0.8695
Epoch 29/100
250/250 [==============================] - 0s 489us/step - loss: 0.3289 - accuracy: 0.8677
Epoch 30/100
250/250 [==============================] - 0s 489us/step - loss: 0.3299 - accuracy: 0.8669
Epoch 31/100
250/250 [==============================] - 0s 491us/step - loss: 0.3286 - accuracy: 0.8683
Epoch 32/100
250/250 [==============================] - 0s 497us/step - loss: 0.3286 - accuracy: 0.8666
Epoch 33/100
250/250 [==============================] - 0s 484us/step - loss: 0.3286 - accuracy: 0.8690
Epoch 34/100
250/250 [==============================] - 0s 489us/step - loss: 0.3291 - accuracy: 0.8679
Epoch 35/100
250/250 [==============================] - 0s 493us/step - loss: 0.3293 - accuracy: 0.8681
Epoch 36/100
250/250 [==============================] - 0s 497us/step - loss: 0.3286 - accuracy: 0.8677
Epoch 37/100
250/250 [==============================] - 0s 533us/step - loss: 0.3287 - accuracy: 0.8665
Epoch 38/100
250/250 [==============================] - 0s 529us/step - loss: 0.3285 - accuracy: 0.8689
Epoch 39/100
250/250 [==============================] - 0s 529us/step - loss: 0.3288 - accuracy: 0.8673
Epoch 40/100
250/250 [==============================] - 0s 493us/step - loss: 0.3284 - accuracy: 0.8677
Epoch 41/100
250/250 [==============================] - 0s 513us/step - loss: 0.3289 - accuracy: 0.8681
Epoch 42/100
250/250 [==============================] - 0s 555us/step - loss: 0.3287 - accuracy: 0.8660
Epoch 43/100
250/250 [==============================] - 0s 519us/step - loss: 0.3292 - accuracy: 0.8664
Epoch 44/100
250/250 [==============================] - 0s 529us/step - loss: 0.3280 - accuracy: 0.8681
Epoch 45/100
250/250 [==============================] - 0s 525us/step - loss: 0.3286 - accuracy: 0.8686
Epoch 46/100
250/250 [==============================] - 0s 528us/step - loss: 0.3288 - accuracy: 0.8684
Epoch 47/100
250/250 [==============================] - 0s 521us/step - loss: 0.3279 - accuracy: 0.8686
Epoch 48/100
250/250 [==============================] - 0s 509us/step - loss: 0.3283 - accuracy: 0.8685
Epoch 49/100
250/250 [==============================] - 0s 489us/step - loss: 0.3285 - accuracy: 0.8679
Epoch 50/100
250/250 [==============================] - 0s 497us/step - loss: 0.3289 - accuracy: 0.8684
Epoch 51/100
250/250 [==============================] - 0s 537us/step - loss: 0.3287 - accuracy: 0.8670
Epoch 52/100
250/250 [==============================] - 0s 529us/step - loss: 0.3282 - accuracy: 0.8701
Epoch 53/100
250/250 [==============================] - 0s 497us/step - loss: 0.3292 - accuracy: 0.8666
Epoch 54/100
250/250 [==============================] - 0s 505us/step - loss: 0.3282 - accuracy: 0.8680
Epoch 55/100
250/250 [==============================] - 0s 545us/step - loss: 0.3284 - accuracy: 0.8684
Epoch 56/100
250/250 [==============================] - 0s 513us/step - loss: 0.3285 - accuracy: 0.8683
Epoch 57/100
250/250 [==============================] - 0s 525us/step - loss: 0.3288 - accuracy: 0.8681
Epoch 58/100
250/250 [==============================] - 0s 515us/step - loss: 0.3286 - accuracy: 0.8681
Epoch 59/100
250/250 [==============================] - 0s 523us/step - loss: 0.3284 - accuracy: 0.8683
Epoch 60/100
250/250 [==============================] - 0s 509us/step - loss: 0.3275 - accuracy: 0.8681
Epoch 61/100
250/250 [==============================] - 0s 497us/step - loss: 0.3278 - accuracy: 0.8686
Epoch 62/100
250/250 [==============================] - 0s 509us/step - loss: 0.3281 - accuracy: 0.8675
Epoch 63/100
250/250 [==============================] - 0s 521us/step - loss: 0.3281 - accuracy: 0.8675
Epoch 64/100
250/250 [==============================] - 0s 533us/step - loss: 0.3280 - accuracy: 0.8701
Epoch 65/100
250/250 [==============================] - 0s 521us/step - loss: 0.3281 - accuracy: 0.8660
Epoch 66/100
250/250 [==============================] - 0s 521us/step - loss: 0.3282 - accuracy: 0.8685
Epoch 67/100
250/250 [==============================] - 0s 509us/step - loss: 0.3281 - accuracy: 0.8680
Epoch 68/100
250/250 [==============================] - 0s 572us/step - loss: 0.3281 - accuracy: 0.8686
Epoch 69/100
250/250 [==============================] - 0s 505us/step - loss: 0.3283 - accuracy: 0.8686
Epoch 70/100
250/250 [==============================] - 0s 520us/step - loss: 0.3284 - accuracy: 0.8675
Epoch 71/100
250/250 [==============================] - 0s 523us/step - loss: 0.3276 - accuracy: 0.8670
Epoch 72/100
250/250 [==============================] - 0s 519us/step - loss: 0.3282 - accuracy: 0.8692
Epoch 73/100
250/250 [==============================] - 0s 505us/step - loss: 0.3275 - accuracy: 0.8686
Epoch 74/100
250/250 [==============================] - 0s 489us/step - loss: 0.3281 - accuracy: 0.8679
Epoch 75/100
250/250 [==============================] - 0s 525us/step - loss: 0.3284 - accuracy: 0.8684
Epoch 76/100
250/250 [==============================] - 0s 505us/step - loss: 0.3283 - accuracy: 0.8661
Epoch 77/100
250/250 [==============================] - 0s 493us/step - loss: 0.3276 - accuracy: 0.8685
Epoch 78/100
250/250 [==============================] - 0s 489us/step - loss: 0.3287 - accuracy: 0.8680
Epoch 79/100
250/250 [==============================] - 0s 497us/step - loss: 0.3275 - accuracy: 0.8673
Epoch 80/100
250/250 [==============================] - 0s 485us/step - loss: 0.3277 - accuracy: 0.8684
Epoch 81/100
250/250 [==============================] - 0s 481us/step - loss: 0.3286 - accuracy: 0.8701
Epoch 82/100
250/250 [==============================] - 0s 497us/step - loss: 0.3271 - accuracy: 0.8702
Epoch 83/100
250/250 [==============================] - 0s 485us/step - loss: 0.3278 - accuracy: 0.8687
Epoch 84/100
250/250 [==============================] - 0s 489us/step - loss: 0.3274 - accuracy: 0.8696
Epoch 85/100
250/250 [==============================] - 0s 477us/step - loss: 0.3288 - accuracy: 0.8686
Epoch 86/100
250/250 [==============================] - 0s 481us/step - loss: 0.3275 - accuracy: 0.8690
Epoch 87/100
250/250 [==============================] - 0s 493us/step - loss: 0.3275 - accuracy: 0.8684
Epoch 88/100
250/250 [==============================] - 0s 481us/step - loss: 0.3278 - accuracy: 0.8670
Epoch 89/100
250/250 [==============================] - 0s 477us/step - loss: 0.3278 - accuracy: 0.8683
Epoch 90/100
250/250 [==============================] - 0s 491us/step - loss: 0.3276 - accuracy: 0.8700
Epoch 91/100
250/250 [==============================] - 0s 485us/step - loss: 0.3278 - accuracy: 0.8684
Epoch 92/100
250/250 [==============================] - 0s 493us/step - loss: 0.3273 - accuracy: 0.8680
Epoch 93/100
250/250 [==============================] - 0s 481us/step - loss: 0.3278 - accuracy: 0.8699
Epoch 94/100
250/250 [==============================] - 0s 477us/step - loss: 0.3278 - accuracy: 0.8671
Epoch 95/100
250/250 [==============================] - 0s 491us/step - loss: 0.3271 - accuracy: 0.8701
Epoch 96/100
250/250 [==============================] - 0s 481us/step - loss: 0.3280 - accuracy: 0.8681
Epoch 97/100
250/250 [==============================] - 0s 481us/step - loss: 0.3271 - accuracy: 0.8698
Epoch 98/100
250/250 [==============================] - 0s 481us/step - loss: 0.3275 - accuracy: 0.8675
Epoch 99/100
250/250 [==============================] - 0s 481us/step - loss: 0.3275 - accuracy: 0.8700
Epoch 100/100
250/250 [==============================] - 0s 485us/step - loss: 0.3275 - accuracy: 0.8680

In [53]:
#Predicting the result on single observation
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

[[ True]]

In [55]:
#Predicting the test set results
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [57]:
#Making the confusion matrix
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

'''1522 correct predictions that thte customer stays in the bank and 205 correct predictions that the customer leaves the bank
73 incorrect predictions that the customer leaves the bank and 200 incorrect predicitons that the customer stays in the bank.'''

[[1522   73]
 [ 200  205]]

0.8635